<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="RogueElements" ToolsVersion="15.0">
   <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
     <Rule Id="CA1051" Action="None" />
     <Rule Id="CA1707" Action="None" />
     <Rule Id="CA1710" Action="None" />
     <Rule Id="CA1714" Action="None" />
     <Rule Id="CA1715" Action="None" />
     <Rule Id="CA1716" Action="None" />
     <!-- Primitives raise false positives; remove this suppression once bug is fixed -->
     <Rule Id="CA2235" Action="None" />
   </Rules>
</RuleSet>